.errormessage{
    margin: 5px 0 0 0 !important;
    color: #D8000C;
}
.create{
    margin-top:100px;
}
.button{
    margin-right:10px !important;
}
.add{
    float: right;
    margin-top:-40px !important;
}
.postsheading{
     margin-top: 70px;
}
.list{
    margin-top: 10px !important;
}
.details{
    margin:100px auto;
}
.deletebutton{
    margin-top:-30px !important;
    float:right;
}